* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
}

#game {
  position: absolute;
  background: url(../img/iceland.jpg);
  background-size: 100% 100%;
}

.overlay {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  color: white;
  z-index: 10;
}

#title {
  font-family: 'Kavivanar', cursive;
}

#subtitle {
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

#call {
  text-align: center;
  left: 50%;
  top: 12%;
  width: 80%;
  transform: translate(-50%, 0);
}
